ul {
	list-style: none;
}

h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 0;
}

body {
	background: #131925;
}

#navigation {
	height: 36px;
	padding: 20px 20px 0 30px;
	width: 904px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.selected {
	background-color:#f2f2f2 !important;
	color: #2B477D !important;
}

#navigation li {
	border-radius: 6px;
	float: left;
	width: 168px;
	margin: 0 10px 0 0;
	background-color: #2B477D;
	border: solid 1px #415F9D;
	position: relative;
	z-index: 1;
}

#navigation li.selected {
	z-index: 3;
}

#navigation li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

#navigation li a:link, ul#navigation li a:visited {
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 168px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	background: #2B477D;
}

#navigation li a:hover {
	background-color: #5a87dd;
}

#navigation li.selected a:link, ul#navigation li.selected a:visited {
	color: #2B477D;
	border: solid 1px #fff;
	background-color: #f2f2f2;
}

select {
	outline: none;

}

input {
	outline: none;
}

.content {
	background: #f2f2f2;
	padding: 15px 50px 50px 50px;
	border-radius: 5px;
	border: solid 1px #415F9D;
	border-top: none;
}

.block {
display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content h2 {
	margin-top: 0;
}

.text-one {
	width: 270px;
	display: flex;
	align-items: center;
	padding-top:40px;
	
}

.text-icon {
	width: 65px;
	height: 65px;
	margin-right: 10px;
}

.work {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
	justify-content: space-between;
	word-spacing:15p;
	width:664px;
}

.container {
	width: 1170px;
	margin: 0 auto
}

.form {
	padding-top: 100px;	
}

.feedback-select {
	height: 30px;
}

.report {
	margin-top: 20px;
}

.report {
	display: flex;
justify-content: flex-start;
}
.report1 {
	display: flex;
	justify-content: flex-start;
}


.report-title {
	text-align: start;
	font-size: 20px;
	display: none;
}

.report-title-bottom {
	display: block;
	padding: 15px;
line-height: 35px;}
	
.report-title1{
	text-align: srart;
	font-size: 20px;
	display: none;
}

.report-title1-bottom {
	display: block;
	padding: 15px;
	line-height: 35px;
	margin-top:20px;
}

.buttons {
	margin-top: 40px;
	display: flex;
	justify-content: space-between
}

.btn-left {
	margin-right: 10px;
}

.button {
	width: 200px;
	height: 30px;
	background-color: #2B477D;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all .5s ease;
	border-radius: 5px;
}

.button:hover {
	transition: all .5s ease;
	background-color: #2b477dde;
}

.button-visible {
	display: none;
}

.btn-bottom {
	display: block;
}

.text-subtitle {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.text-subtitle__buttom {
	width: 250px;
	margin-left: 0px;
	margin-right: 750px;
	
}


.btn-blue {
	padding-top: 5px;
	text-align: center;
	border-radius: 5px;
	display: block;
	width: 200px; 
	height: 26px;
	text-decoration: none;
	background-color: #2B477D;
	color: #fff
}

.scroll {
	width: 55px;
	height: 25px;
	position: relative;
	cursor: pointer;
}
.scroll:before {
	position: absolute;
	content: url('../img/drop-down-icon-png-2.png');
	top: -14px;
left: -1px;}


.scroll_1 {
	
	width: 70px;
	height: 25px;
	position: relative;
	cursor: pointer;
}
.scroll_1:before {
	position: absolute;
	content: url('../img/drop-down-icon-png-2.png');
	top: -14px;
	left: -1px;
}

.btn-kolvo{
	height:15px;
	content: url('../img/drop-down-icon-png-2.png');
}
.btn-year{
	height:15px;
	content: url('../img/drop-down-icon-png-2.png');
}
.btn-group{
	height:15px;
	content: url('../img/drop-down-icon-png-2.png');
}
.btn-cdano{
	height:15px;
	content: url('../img/drop-down-icon-png-2.png');
}
.btn-closest{
	height:15px;
	content: url('../img/drop-down-icon-png-2.png');
}

.dannie{
	padding-top:40px;
}

.report-title__text-1 {
	position: relative;
}

.report-title__text-1::after {
	content: '22';
	position: absolute;
	right: -150%;
	
} 
.report-title__text-2 {
	position: relative;
}

.report-title__text-2::after {
	content: '15/24';
	position: absolute;
	right:-213%;
	top:-40%;
}


.report-title__text-3 {
	position: relative;
}

.report-title__text-3::after {
	content: '12/25';
	position: absolute;
	right: -213%;
	top:-60%;
} 

